<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="On" defaultRedirect="Error/ErrorPage.htm">
    </customErrors>
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\welcome\Desktop\Drashti\LoginDemo\LoginDemoWebsite\App_Data\LoginDB.mdf;Integrated Security=True;User Instance=True" name="mydbconn" providerName=""/>
  </connectionStrings>
  <appSettings>
    <add key="ErrorLog" value="~/Logs/ErrorLog.txt" />
  </appSettings>

</configuration>
